.react-tabs {
    -webkit-tap-highlight-color: transparent;
  }
  
  .react-tabs__tab-list {
    margin: 0 0 10px;
    padding: 0;
  }
  
  .react-tabs__tab {
    display: inline-flex;
    border: 1px solid transparent;
    border-bottom: none;
    bottom: -1px;
    padding: 6px 12px;
    cursor: pointer;
    text-align: center;
    color: var(--main-color);
  }
  
  .react-tabs__tab--selected {
    color: var(--highlight-color);
    font-weight: bold;
  }
  
  .react-tabs__tab--disabled {
    color: GrayText;
    cursor: default;
  }
  

  
  .react-tabs__tab:focus:after {
    content: "";
    position: absolute;
    height: 5px;
    left: -4px;
    right: -4px;
    bottom: -5px;
    background: #fff;
  }
  
  .react-tabs__tab-panel {
    display: none;
  }
  
  .react-tabs__tab-panel--selected {
    display: block;
  }
  

  --main-color: #075b80;
  --highlight-color: #00a3a0;
  --dark-color: #031634;